body {
    display: flex;
    justify-content: center;
    background-color: #494949;
}

img {
    width: 300px;
}

#photo_selector_area {
    width: 350px;
    height: 500px;
    border: 2px solid black;
    margin-top: 50px;
    background-color: white;
}

#ps_selector_area {
    display: flex;
    justify-content: space-between;
    height: 30px;
    border-bottom: 2px solid black;
}

#ps_photo_area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 470px;
}