.nav {
    display:flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #e1e1e1, rgb(173, 145, 206));
    border-radius: 4px;
    width: 220px;
    box-shadow: 4px 2px rgb(122, 117, 133);
}

.link {
    background: linear-gradient(to bottom, #e1e1e1, rgb(60, 181, 241));
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    display: block;
    border-radius: 4px;
    padding: 10px  20px;
    color: rgb(93, 0, 0);
    text-transform: uppercase;
    font-weight: 600;
}

.nav .link:hover {
    background: linear-gradient(to bottom, rgb(60, 181, 241), rgb(14, 36, 178));
}

.nav div {
    font-size: 20px;
    text-align: center;
    display:flex;
    flex-direction: column;
    position: relative;  /* чтобы вложенный выпадающий блок позиционировался относительно этого элемента) */
}

.nav div .drop {
    position: absolute;  /* отображаем поверх другого контента */
    display: none;
    left:100%;
}

.drop_item {
    text-decoration: none;
    display: block;
    background: linear-gradient(to bottom, #e1e1e1, rgb(60, 181, 241));
    color: black;
    border-radius: 4px;
    padding: 10px  20px;
}

.drop_item:hover {
    background: linear-gradient(to bottom, rgb(60, 181, 241), rgb(14, 36, 178));
}

.nav div:hover .drop {  /* отображаем выпадающий блок при наведении */
    display: block;
}

.nav  div .drop  div:hover .drop {
    display: block;
    position: absolute;
    left: 100%;
}

.nav  div .drop  div:not(:hover) .drop {
    display: none;
    position: absolute;
    left: 100%;
}