/*global*/
body {
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #494949;
    transition: .3s;
}

.working_area {
    display: flex;
    justify-content: center;
}

/*header*/
@media (max-width: 1130px) {
    #header {
        width: auto !important;
    }
    #header_dividor {
        display: none;
    }
    #header_headphones {
        display: none;
    }
    #header_airpods {
        display: none;
    }
    .header_pencil {
        display: none;
    }
    #header_logo {
        display: none;
    }
    #header_phrase {
        text-align: center;
    }
    #header_description_area {
        display: flex;
        justify-content: center;
    }
    #header_description {
        width: 800px !important;
    }
    #header_buttons_area {
        display: flex;
        justify-content: center;
    }
}

#header {
    width: 1110px;
    height: 935px;
    position: absolute;
    top: 0;
}

#header_bg {
    width: 100%;
    height: 1080px;
}

#header_headphones {
    position: absolute;
    filter: drop-shadow(5px 25px 15px rgba(0, 0, 0, 0.5));
}

.header_pencil {
    position: absolute;
    margin-top: 700px;
    filter: drop-shadow(3px 2px 2px rgba(0, 0, 0, 0.5));
}

#header_pencil_1 {
    margin-top: 755px;
}

#header_airpods {
    position: absolute;
    filter: drop-shadow(3px 8px 2px rgba(0, 0, 0, 0.5));
    right: 0;
    margin-top: 425px;
}

#header_logo {
    margin-top: 50px;
}

#header_dividor {
    margin-top: 40px;
}

#header_nav {
    /*шрифт*/
    width: 675px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 17pt;
    /*позиционирование*/
    margin-left: 260px;
    margin-right: 5px;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo_with_nav {
    display: flex;
    justify-content: space-between;
}

#login_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login_button a {
    position: absolute;
}

#login_button a:hover {
    color: white;
    font-size: calc(1em + 1pt);
    transition: none;
}

#header_phrase {
    /*шрифт*/
    font-family: "Museo Slab", sans-serif;
    font-weight: 500;
    font-size: 40pt;
    color: white;
    /*позиционирование*/
    margin-top: 265px;
}

#header_description {
    /*шрифт*/
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 26pt;
    color: white;
    /*позиционирование*/
    width: 500px;
    margin-top: 45px;
}

#header_buttons {
    width: 510px;
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}

#google_store_link {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16pt;
    color: #343434;
}

#learn_more_link {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16pt;
    position: absolute;
    color: white;
}

#header_button_google {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#header_button_google:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    transition: .3s;
}

#header_btn_google_items {
    position: absolute;
    width: 175px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header_button_learn_more {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#header_button_learn_more:hover {
    box-shadow: 0 0 15px rgb(60, 181, 241);
    transition: .3s;
}

/*services*/
@media (max-width: 1100px) {
    #services {
        width: auto !important;
    }
}

#services {
    width: 1110px;
    height: 800px;
}

#welcome_text {
    font-family: "Roboto Slab", serif;
    margin-top: 98px;
    text-align: center;
}

#welcome_to_text {
    font-size: 18pt;
    color: #7c7c7c;
}

#our_services_text {
    font-size: 24pt;
    color: #494949;
    margin-top: 18px;
    margin-bottom: 18px;
}

#services_images {
    display: flex;
    justify-content: space-between;
    margin: 95px 100px 20px;
}

#services_description {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.service_description {
    width: 300px;
    height: 115px;
}

.service_description h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18pt;
    color: #494949;
}

.service_description p {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14pt;
    color: #7c7c7c;
}

/*unlimited_customization*/
@media (max-width: 1360px) {
    #unlimited_customization {
        width: auto !important;
    }
    #uc_devices {
        display: none;
    }
    #great_features_text {
        margin-left: 100px !important;
    }
    #uc_text {
        margin-left: 100px !important;
    }
    #unlimited_customization p {
        margin-left: 100px !important;
    }
    #uc_list {
        margin-left: 100px !important;
    }
    #uc_button {
        margin-left: 100px !important;
    }
}

#unlimited_customization {
    width: 1110px;
    height: 780px;
    position: absolute;
}

#uc_bg {
    width: 100%;
    height: 900px;
}

#uc_devices {
    margin-top: 120px;
    position: absolute;
}

#great_features_text {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 22pt;
    color: #494949;
    opacity: 35%;
    margin-top: 140px;
    margin-left: 550px;
}

#uc_text {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 32pt;
    color: #494949;
    margin-top: 35px;
    margin-left: 550px;
}

#unlimited_customization p {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 20pt;
    color: #7c7c7c;
    margin-top: 35px;
    margin-left: 550px;
}

#uc_list {
    margin-top: 70px;
    margin-left: 550px;
    list-style-image: url("references/unlimited_customization/point.png");
    line-height: 30pt;
    padding: 25px;
    text-indent: 20px;
}

#uc_list li {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14pt;
    color: #7c7c7c;
}

#uc_button {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 550px;
}

#uc_button a {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 12pt;
    position: absolute;
}

#uc_button img {
    width: 100%;
    height: auto;
}

/*other_services*/
@media (max-width: 1100px) {
    #other_services {
        width: 800px !important;
    }
    #os_table {
        width: 800px !important;
        height: 900px !important;
    }
}

#other_services {
    width: 1110px;
    height: auto;
}

#os_header_text {
    font-family: "Roboto Slab", serif;
    text-align: center;
    margin-top: 55px;
}

#view_our_latest_text {
    font-size: 18pt;
    color: #7c7c7c;
}

#os_header_text h3 {
    font-size: 24pt;
    color: #494949;
    margin: 10px;
}

#os_table {
    width: 1085px;
    height: 420px;
    margin-top: 115px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 175px 0;
}

.os_table_item {
    width: 310px;
    height: 155px;
    display: flex;
    justify-content: space-between;
}

.os_table_item h4 {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 18pt;
    color: #494949;
    display: inline;
}

.os_table_item p {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14pt;
    color: #7c7c7c;
    line-height: 26pt;
}

.os_table_item_text {
    width: 255px;
}

/*custom_comments*/
@media (max-width: 1100px) {
    #custom_comments {
        width: auto !important;
    }
}

#custom_comments {
    width: 1110px;
    height: auto;
    position: absolute;
    margin-top: 220px;
}

#custom_comments_bg {
    width: 100%;
    height: 850px;
    margin-top: 220px;
}

#cc_header_text {
    font-family: "Roboto Slab", serif;
    text-align: center;
    margin-top: 50px;
}

#cc_header_text div {
    font-size: 18pt;
    color: #7c7c7c;
}

#cc_header_text h3 {
    font-size: 24pt;
    color: #494949;
    margin: 10px;
}

#cc_customer {
    width: 200px;
    height: 180px;
    position: absolute;
    text-align: center;
    margin-top: 70px;
    z-index: 1;
}

#cc_customer h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 20pt;
    color: #494949;
    margin: 8px 0 0;
}

#cc_customer span {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15pt;
    color: #7c7c7c;
}

#cc_cards {
    width: inherit;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    z-index: 1;
}

#cc_cards p {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15pt;
    line-height: 25pt;
    color: #7c7c7c;
    position: absolute;
    width: 570px;
    margin-top: 50px;
}

#cc_first_card {
    position: absolute;
}

#cc_second_card {
    position: absolute;
}

#cc_buttons {
    width: 275px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    margin-right: 50px;
}

.cc_btn {
    display: flex;
    justify-content: space-between;
}

#cc_btn_previous {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18pt;
    color: #494949;
    width: 143px;
    opacity: 50%;
}

#cc_btn_next {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18pt;
    color: #494949;
    width: 100px;
}

/*great resource*/
@media (max-width: 1100px) {
    #great_resource {
        width: auto !important;
    }

    #gr_text {
        text-align: center;
        width: auto !important;
    }
    #gr_text_article {
        height: 200px !important;
    }
    #gr_img {
        display: none;
    }
}

#great_resource {
    width: 1110px;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#gr_text {
    font-family: "Raleway", sans-serif;
    color: #7c7c7c;
    width: 460px;
    height: 310px;
}

#gr_text_header {
    font-weight: 600;
    font-size: 22pt;
    opacity: 60%;
}

#gr_text h2 {
    font-weight: 600;
    font-size: 32pt;
    color: #494949;
}

#gr_text_description {
    font-weight: 500;
    font-size: 20pt;
    line-height: 32pt;
}

#gr_text_article {
    font-weight: 500;
    font-size: 14pt;
    line-height: 26pt;
    height: 100px;
    overflow: hidden;
    overflow-y: auto;
    cursor: pointer;
}

/*pricing_table*/
@media (max-width: 1110px) {
    #pricing_table {
        width: auto !important;
        height: 2500px !important;
    }
    #pricing_table_bg {
        height: 2500px !important;
    }
    #pt_cards {
        flex-direction: column;
        align-items: center;
    }
}

#pricing_table {
    width: 1110px;
    height: 1000px;
    position: absolute;
}

#pricing_table_bg {
    width: 100%;
    height: 1000px;
}

#pt_header {
    font-family: "Roboto Slab", serif;
    text-align: center;
    margin-top: 70px;
}

#pt_header div {
    font-size: 18pt;
    color: #7c7c7c;
}

#pt_header h3 {
    font-size: 24pt;
    letter-spacing: 5px;
    color: #494949;
    margin: 10px;
}

#pt_cards {
    display: flex;
    justify-content: space-between;
}

.pt_card {
    margin-top: 120px;
}

.pt_card_items {
    position: absolute;
    text-align: center;
    width: 325px;
    margin-top: 50px;
}

.pt_card_item_name {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 16pt;
    color: #494949;
    margin-top: 40px;
}

.pt_card_item_price {
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: space-between;
    width: 185px;
    background: linear-gradient(to right, #64edf8, #35b8ed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pt_card_item_price_dollar {
    font-weight: 500;
    font-size: 20pt;
    margin-top: 30px;
}

.pt_card_item_price_sum {
    font-weight: 800;
    font-size: 72pt;
    align-self: flex-start;
}

.pt_card_item_price_postfix {
    font-weight: 500;
    font-size: 20pt;
    align-self: flex-end;
}

.pt_card_item_choices {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14pt;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.pt_card_item_available {
    color: #494949;
}

.pt_card_item_not_available {
    color: #7c7c7c;
    opacity: 65%;
}

#pt_main_card {
    margin-top: 50px;
}

#pt_main_card .pt_card_items {
    width: 439px;
    margin-top: 110px;
}

#pt_main_card .pt_card_item_btn {
    margin-top: 40px;
}

.pt_card_item_btn {
    width: 160px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pt_card_item_btn a {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 14pt;
    position: absolute;
}

/*subscribe*/
@media (max-width: 1100px) {
    #subscribe {
        width: auto !important;
    }
}

#subscribe {
    width: 1110px;
    height: 630px;
}

#subscribe_header_text {
    font-family: "Roboto Slab", serif;
    text-align: center;
    margin-top: 70px;
}

#subscribe_header_text div {
    font-size: 18pt;
    color: #7c7c7c;
}

#subscribe_header_text h3 {
    font-size: 24pt;
    color: #494949;
    margin: 5px;
}

.subscribe_field {
    display: flex;
    justify-content: center;
}

.subscribe_field input {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 14pt;
    color: #494949;
    position: absolute;
    width: 220px;
    height: 75px;
    border: none;
    background-color: transparent;
}

.subscribe_field input::placeholder {
    color: #7c7c7c;
    text-align: center;
}

.subscribe_field input:focus {
    outline: none;
}

.subscribe_field input:focus::placeholder {
    color: transparent;
    transition: .2s;
}

#subscribe_field_name {
    margin-top: 70px;
}

#subscribe_field_email {
    margin-top: 8px;
    margin-bottom: 20px;
}

#subscribe_btn_link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 14pt;
    width: 400px;
    height: 82px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*footer*/
@media (max-width: 1210px) {
    #footer {
        width: auto !important;
    }
    .footer_dividor {
        display: none;
    }
    #footer_info {
        flex-wrap: wrap;
        margin-top: 10px !important;
    }
    #footer_links {
        width: auto !important;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    footer {
        margin-top: 320px !important;
    }
}

#footer {
    width: 1130px;
    height: 490px;
}

#footer_info {
    height: 270px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

#footer_links {
    width: 210px;
    height: 325px;
}

#footer_links p {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14pt;
    line-height: 20pt;
    color: #7c7c7c;
}

#footer_links_logos {
    width: 115px;
    display: flex;
    justify-content: space-between;
}

#footer_text {
    font-family: "Raleway", sans-serif;
    width: 825px;
    height: 325px;
    display: flex;
    justify-content: space-between;
}

#footer_text h3 {
    font-weight: 700;
    font-size: 14pt;
    color: #494949;
    margin: 0 0 45px;
}

#footer_text p {
    font-weight: 500;
    font-size: 14pt;
    line-height: 23pt;
    color: #7c7c7c;
}

#footer_text a {
    color: inherit;
}

#footer_text a:hover {
    color: black;
    transition: .3s;
}

footer {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14pt;
    color: #7c7c7c;
    margin-top: 30px;
    width: 700px;
    display: flex;
    justify-content: space-between;
}