body {
    background: #263238;
}

.nav {
	background-color: #3cb5f1;
	box-shadow: 5px 5px #b0b0b0;
    border-radius: 8px;
	font-size: 25px;
	padding: 5px;
	height: 35px;
}

.links {
	display: block;
	float: left;
	text-decoration: none;
	padding: 5px;
    border-radius: 8px;
	background-color: #ffffff;
	border-right-style: groove;
	border-right-color: #000000;
}

.links:hover {
	background-color: cyan;
}

.left_block {
    display: block;
    float: left;
    width: 9%;
    background: linear-gradient(to bottom, #3cb5f1, rgb(35, 35, 35));
    box-shadow: 5px 3px #ffffff;
    padding: 5px;
    border-radius: 8px;
    margin-right: 10px;
}

.left_menu {
    margin: 6px;
    background: linear-gradient(to bottom, #3cb5f1, rgb(0, 255, 255));
    box-shadow: 3px 1px gray;
    padding: 3px;
    border-radius: 8px;
    font-size: 17px;
    overflow: hidden;
}

#left_title {
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    border-radius: 7px;
}

.right_block {
    display: block;
    float: right;
    width: 11%;
    background: linear-gradient(to bottom, #3cb5f1, rgb(35, 35, 35));
    box-shadow: 5px 3px #ffffff;
    padding: 5px;
    border-radius: 8px;
    margin-left: 10px;
}

.right_menu {
    margin: 6px;
    background: linear-gradient(to bottom, #3cb5f1, rgb(0, 255, 255));
    box-shadow: 3px 1px gray;
    padding: 3px;
    border-radius: 8px;
    font-size: 17px;
    overflow: hidden;
}

.right_title {
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    border-radius: 7px;
}

.center_block {
    overflow: hidden;
    margin-top: 9px;
    background: linear-gradient(to bottom, #3cb5f1, rgb(35, 35, 35));
    box-shadow: 5px 3px gray;
    padding: 5px;
    border-radius: 8px;
}

.card {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 160px;
    margin: 15px;
    border-radius: 15px;
    overflow: hidden;
}

#center_title {
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    border-radius: 7px;
}

.snickers {
    width: 100%;
    height: 100%;
}

.layer {
    position: absolute;
    width: inherit;
    bottom: -50%;
    text-align: center;
    font-size: 17px;
    transition: bottom .4s;
    background-color: rgba(215, 215, 215, 0.85);
    color: rgb(9, 9, 9);
}

.card:hover .layer {
    bottom: 0;
}